<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Saver</title>
    <link href="./static/bootstrap.5.3.7.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr">
    <link href="./static/style.2.css" rel="stylesheet">
    <script src="./static/htmx.2.0.6.min.js"
            integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm"></script>
    <script src="./static/hyperscript.0.9.14.min.js"
            integrity="sha384-NzchC8z9HmP/Ed8cheGl9XuSrFSkDNHPiDl+ujbHE0F0I7tWC4rUnwPXP+7IvVZv"></script>
    <meta name="htmx-config" content='{"includeIndicatorStyles":false}'>
</head>
<body>
<div class="ms-4 me-4 mt-4 mb-4">
    <h2 class="text-secondary">Link Saver</h2>

    <div class="alert alert-danger d-none" role="alert" id="error"></div>

    <div class="form-grid mb-2">
        <form hx-post="." hx-target="#links" hx-disabled-elt="find button" _="
                          on htmx:afterRequest
                            if the event's detail.failed then
                              put the event's detail.xhr.responseText into #error
                              remove .d-none from #error
                            else
                              put '' into #error
                              add .d-none to #error
                            end
                          on dragenter
                            halt the event
                          on dragover
                            if the types of the event's dataTransfer contains 'text/uri-list'
                              halt the event
                            end
                          on drop
                            put the event's dataTransfer.getData('URL') into #url's value
                            requestSubmit() on me
                            halt the event
                        ">
            <div class="d-flex flex-column justify-content-center">
                <label for="url">URL:</label>
            </div>
            <div>
                <input type="url" id="url" name="url" class="form-control" required
                       placeholder="https://example.com">
            </div>
            <div>
                <button type="submit" class="btn btn-primary text-nowrap">Save Link</button>
            </div>
        </form>
        <form hx-get="." hx-target="#links">
            <div class="d-flex flex-column justify-content-center">
                <label for="s">Search:</label>
            </div>
            <div>
                <input type="text" id="s" name="s" class="form-control" required>
            </div>
            <div>
                <button type="submit" class="btn btn-secondary text-nowrap">Search</button>
            </div>
        </form>
    </div>

    <div id="links">
        {{template "links" .}}
    </div>
</div>
</body>
</html>
