{{define "link"}}
<div class="list-group-item">
    <div class="d-flex justify-content-between align-items-start">
        <div class="flex-grow-1">
            <h5 class="mb-1"><a href="{{.URL}}" target="_blank" class="text-decoration-none" title="{{.Description}}">{{.Title}}</a></h5>
            <p><a href="{{.URL}}" target="_blank" class="text-decoration-none mb-1 text-muted small" style="word-break: break-all;">{{.URL}}</a></p>
            <small class="text-muted">Added: {{.AddedAt}}</small>
        </div>
        <div class="ms-3">
            <button class="btn btn-danger btn-sm"
                    hx-delete="/{{.ID}}"
                    hx-swap="delete swap:1s"
                    hx-target="closest div.list-group-item"
                    _="
                     on htmx:afterRequest
                     if event.detail.failed then
                       put event.detail.xhr.responseText into #error
                       show #error
                     else
                       put '' into #error
                       hide #error
                     end
                   "
            >Delete</button>
        </div>
    </div>
    <div class="mt-2">
        <a href="{{.URL}}" target="_blank" class="text-decoration-none"><img src="screenshots/{{.ID}}.jpg" class="img-fluid" alt=""/></a>
    </div>
</div>
{{end}}
