{{define "link-without-screenshot"}}
<div class="links-grid-item list-group-item border rounded shadow-sm p-1">
    <div class="links-grid-header">
        <h5><a href="{{.URL}}" target="_blank"
               class="text-decoration-none d-inline-block text-truncate w-100"
               title="{{.Title}}">{{.Title}}</a></h5>
        <p>{{.Description}}</p>
        <div class="d-flex justify-content-between align-items-start">
            <div class="flex-grow-1">
                <div><a href="{{.URL}}" target="_blank" class="text-decoration-none text-muted small text-nowrap">{{.URL}}</a>
                </div>
                <div class="text-muted small text-nowrap">Added: {{.AddedAt.Format "2006-01-02 15:04:05 MST"}}</div>
            </div>
            <div class="ms-3 align-self-end">
                <button class="btn btn-danger btn-sm"
                        hx-delete="./{{.ID}}"
                        hx-swap="delete swap:1s"
                        hx-target="closest div.links-grid-item"
                        _="
                         on htmx:afterRequest
                         if event.detail.failed then
                           put event.detail.xhr.responseText into #error
                           show #error
                         else
                           put '' into #error
                           hide #error
                         end
                       "
                >Delete
                </button>
            </div>
        </div>
    </div>
</div>
{{end}}
