{{define "link-with-screenshot"}}
<div class="link-item box info bg">
    <div class="link-header">
{{if .Edit}}
        <div class="link-edit">
            <form hx-patch="./{{.ID}}" hx-swap="outerHTML" hx-target="closest .link-item"
                  hx-disabled-elt="find button"
                  _="
               on htmx:afterRequest
               if event.detail.failed then
                 put event.detail.xhr.responseText into #error-message
                 remove @hidden from #error
               else
                 put '' into #error
                 add @hidden to #error
               end
             ">
                <div class="f-row">
                    <input type="text" name="title" value="{{.Title}}" class="width:100%" maxlength="250" required>
                    <button class="iconbutton" type="submit" title="Save">&#x2714;</button>
                    <button class="iconbutton" title="Cancel"
                            hx-get="./{{.ID}}"
                            hx-swap="outerHTML"
                            hx-target="closest .link-item"
                    >&#x274C;
                    </button>
                </div>
                <textarea name="description" class="width:100%" rows="3" maxlength="1020">{{.Description}}</textarea>
            </form>
        </div>
{{else}}
        <h5 class="link-title list-of-links">
            {{if not (isNote .URL)}}
            <a href="{{.URL}}" target="_blank"
               class="inline-block text-truncate width:100%"
               title="{{or .Description .Title}}">{{.Title}}</a>
            {{else}}
                {{.Title}}
            {{end}}
        </h5>

{{end}}
        <div class="list-of-links">
            {{if not (isNote .URL)}}
                <a href="{{.URL}}" target="_blank"
                    class="inline-block text-truncate width:100%"
                    title="{{.URL}}">{{.URL}}</a>
            {{end}}
        </div>
        <div class="margin-block-end">
            <button hx-get="./{{.ID}}?edit=1"
                    hx-swap="outerHTML"
                    hx-target="closest .link-item"
            >Edit
            </button>
            <button class="warn bg"
                    hx-delete="./{{.ID}}"
                    hx-swap="delete swap:1s"
                    hx-target="closest .link-item"
                    _="
                                             on htmx:afterRequest
                                             if event.detail.failed then
                                               put event.detail.xhr.responseText into #error
                                               remove @hidden from #error
                                             else
                                               put '' into #error-message
                                               add @hidden to #error
                                             end
                                           "
            >Delete
            </button>
            <span class="text-nowrap">{{.AddedAt.Format "2006-01-02 15:04:05 MST"}}</span>
        </div>
    </div>
    <div class="list-of-links">
        {{if not (isNote .URL)}}
            <a href="{{.URL}}" target="_blank"><img
                src="screenshots/{{.URL | screenshotFilename}}" width="800" height="600" class="img-fluid" alt=""/></a>
        {{end}}
    </div>
</div>
{{end}}
