{{define "link-with-screenshot"}}
<div class="links-grid-item list-group-item border rounded shadow-sm p-1">
    <div class="links-grid-header">
        <h5><a href="{{.URL}}" target="_blank"
               class="text-decoration-none d-inline-block text-truncate w-100"
               title="{{or .Description .Title}}">{{.Title}}</a></h5>

        <div>
            <div><a href="{{.URL}}" target="_blank"
                    class="text-muted small text-decoration-none d-inline-block text-truncate w-100"
                    title="{{.URL}}">{{.URL}}</a>
            </div>
            <div>
                <button class="btn btn-danger btn-sm"
                        hx-delete="./{{.ID}}"
                        hx-swap="delete swap:1s"
                        hx-target="closest div.links-grid-item"
                        _="
                                             on htmx:afterRequest
                                             if event.detail.failed then
                                               put event.detail.xhr.responseText into #error
                                               show #error
                                             else
                                               put '' into #error
                                               hide #error
                                             end
                                           "
                >Delete
                </button>
                <span class="text-muted small text-nowrap">{{.AddedAt.Format "2006-01-02 15:04:05 MST"}}</span>
            </div>
        </div>
    </div>
    <div>
        <a href="{{.URL}}" target="_blank" class="text-decoration-none"><img
                src="screenshots/{{.URL | screenshotFilename}}" width="800" height="600" class="img-fluid" alt=""/></a>
    </div>
</div>
{{end}}
